.slantedLink {
    margin: .35rem;
    padding: .40rem;
    display: flex;
    font-weight: 700;
    transform: skewX(-38deg);
    -webkit-transform: skewX(-38deg);
    -ms-transform: skewX(-38deg);
    background-image: var(--main);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-image: var(--main);
    border-image-slice: 1;
    border-style: solid;
    border-width: 2px;
    /*transition: all .6s cubic-bezier(.19,1,.22,1);*/
}

.slantedLinkContent {
    text-transform: uppercase;
    transform: skewX(38deg);
    -webkit-transform: skewX(38deg);
    -ms-transform: skewX(38deg);
    background-image: var(--main);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*transition: all .6s cubic-bezier(.19,1,.22,1);*/
}

.slantedLink:hover {
    background: var(--main);
    -webkit-text-fill-color: var(--white);
}

.slantedLink:hover .slantedLinkContent{
    -webkit-text-fill-color: var(--white);
}