.projectsSectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 21%;
    margin-right: 21%;
}

.projectMarginBottom {
    margin-bottom: 3rem;
}