.skillsSectionContainer {
    display: flex;
    flex-direction: column;
    margin-left: 21%;
    margin-right: 21%;
}

.skillsCategoryContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.skillsCategoryTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.skillsCategoryTitleText {
    color: var(--white);
    font-size: 1.75rem;
}

.skillsIconsContainer {
    display: flex;
    align-items: center;
}

/* LEFT ALIGN? */
.skillsIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem;
}