.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 22%;
  margin-right: 22%;
}

.aboutText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 3rem;
}