.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 21%;
  margin-right: 21%;
}

.aboutText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem;
  line-height: 200%;
}

.aboutLink {
  font-weight: bold;
}