.navbarWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--white);
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-right: .25rem;
    padding-left: .75rem;
}

.navbarLeft {
    animation-delay: 1.6s;
}

.navbarRight {
    animation-delay: 1.6s;
}