.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: var(--main);
}

.footerLink {
    padding: 3rem;
    transition: transform 0.2s ease-in-out;
}

.footerLink p {
    text-transform: uppercase;
}

.footerLink:hover {
    color: var(--white);
    transform: translateY(-5px);
}

.footerLinkContainer {
    display: flex;
    justify-content: center;
}
