.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(133deg, rgba(27,227,227,1) 48%, rgba(0,212,255,1) 100%);
}

.footerLink {
    padding: 3rem;
    transition: transform 0.2s ease-in-out;
}

.footerLink:hover {
    color: var(--white);
    transform: translateY(-5px);
}

.footerLinkContainer {
    display: flex;
    justify-content: center;
}